@use './utils/' as *;

.countries-section{
   @include flexObj($justify:center,$direction:column);
   margin-top:3em;


   
   @include MediaQueryMD{
      display:grid;
      grid-template-columns: repeat(2,1fr);
      gap:40px;
      justify-items: center;
   }

   @include MediaQueryMD2{
      grid-template-columns: repeat(3,1fr);
   }

   @include MediaQueryLS{
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: repeat(2,1fr);
   }
}

.country-item{
   background-color: var(--elements-color);
   color:var(--text-color);
   border-radius:6px;
   margin-bottom:2em;
   box-shadow: 0 0 3px 3px var(--box-shadow-color);
   height:23em;
   width:17em;
   transition: .3s ease-in-out;
   cursor: pointer;

   

   &:hover{
      scale:1.03;
   }

   img{
      border-top-right-radius:6px ;
      border-top-left-radius:6px ;
      height:11em;
      width:100%;
   }

   .details-container{
      padding:1.8em 1em;

      h2{
         font-size:1.2rem;
         margin-block:0 .8em;
      }

      p{
         margin-block:.3em;
         font-weight: $font-weight_Bold;

         span{
            font-weight: $font-weight_Light;
            margin-left:.3em;
         }
      }

   }
}


.country-details-overview{
   max-width:90%;
   margin-inline:auto;
   color:var(--text-color);
   min-height: 100vh;

   @include MediaQueryMD2{
      max-width:94%;
   }

   .go-back{
      color:var(--text-color);
      padding:.4em 1.8em ;
      padding-right:.2em;
      border-radius: 3px;
      background-color: var(--elements-color);
      margin-block:1.5em;
      display:block;
      box-shadow: 0 0 3px 3px var(--box-shadow-color);
      position: relative;
      @include flexObj($justify:center);
      width:8em;
      text-align:center;

      &>svg{
         position: absolute;
         top:-50%;
         bottom:-50%;
         margin:auto;
         left:2em;
      }
   }

   .overview{
      margin-block:3em;
      
      
      
      @include MediaQueryMD{
         @include flexObj($align:center,$justify:center,$direction:column);
      }

      @include MediaQueryLS{
         @include flexObj($align:flex-start,$gap:50px,$justify:space-between);
      }

      img{
         position: relative;
         width:100%;
         height:16.5em;

         @include MediaQueryMD{
            width:30em;
            flex-basis:100%;
         }

         @include MediaQueryLS{
            height:20em;
            flex-basis: 30%;
         }
      }

      .flex-row{
         position: relative;

         &>div{
            margin-block:1em 2em;
         }
               
         @include MediaQueryMD{
            @include flexObj($align:center,$justify:center);
            &>*{
               margin-inline:1em;
            }
         }

         @include MediaQueryLS{
            width:50% !important;
            @include flexObj($align:center,$justify:space-between);
            flex-wrap:wrap;

            p{
               margin-block:.3em;
            }
         }
      }



      p{
         font-weight: $font-weight_Bold;

         span{
            font-weight: $font-weight_Light;
            margin-left:.3em;
         }
      }

      h2{
         font-size: 1.7rem;
         text-transform: capitalize;
      }
   }
}



.border-countries{


   @include MediaQueryLS{
      flex-basis:100%;
      @include flexObj($align:flex-start,$justify:flex-start,$gap:50px);
      position: relative;
      top:-1em;
   }

   h3{
      font-size:1rem;
      margin-block:.3em;
      font-weight: $font-weight_Bold;
   }

   div{
      display:grid;
      grid-template-columns: repeat(2,1fr);
      gap:10px;

      @include MediaQueryMD{
         grid-template-columns: repeat(4,1fr);
      }
      @include MediaQueryLS{
         grid-template-columns: repeat(3,1fr);
      }

      
      a{
         padding:.4em 1.2em;
         border-radius: 3px;
         background-color: var(--elements-color);
         box-shadow: 0 0 3px 3px var(--box-shadow-color);
         color:inherit;
         transition: .3s ease-in-out;
         text-align: center;
         font-size:.9rem;

         &:hover{
            opacity:.8;
         }
      }
   }
}
