@use './utils/'as *;

.search-area{
   margin-block:1.4em;

   @include MediaQueryLS{
      @include flexObj;
   }

   label,
   .AT-only{
      position: absolute;
      clip: rect(0 0 0 0);
      width: 1px;
      height: 1px;
      overflow: hidden;
      white-space: nowrap;
   }
   
   &-dropdown{
      box-shadow: 0 0 3px 3px var(--box-shadow-color);
      margin-top:2.5em;
      max-width:60%;
      background-color: var(--elements-color);
      border-radius: 6px;
      padding:.9em 1em;
      position: relative !important;

      @include MediaQueryLS{
         max-width:unset;
         width:14em;
         margin-top:0;
      }

      @include MediaQueryMD2{
         max-width:20%;
      }

      span,
      button{
         display: block;
         color:var(--text-color);
         font-size: .9rem;
      }

      span{
         cursor: pointer;
         text-transform: capitalize;
      }

   }
   
   .arrow-icon{
      position: absolute;
      right:1em;
      top:-50%;
      bottom:-50%;
      margin:auto;
      color:var(--text-color);
   }
   
   .rotate{
      transform: rotate(180deg);
      transition: .3s linear;
   }
}

.dropdown{
   background-color: var(--elements-color);
   bottom:-13em;
   border-radius: 6px;
   left:-50%;
   right:-50%;
   margin:auto;
   position: absolute;
   width:100%;
   padding:.5em 1em;
   opacity: 0;
   animation: fadeIn;
   animation-duration: .3s;
   animation-timing-function: ease-in-out;
   animation-fill-mode: forwards;
   animation-delay: .1s;
   box-shadow: 0 0 3px 3px var(--box-shadow-color);

   button{
      margin-block:.5em;
      text-transform: lowercase capitalize;

      &:hover{
         opacity:.8;
      }
   }

   button:last-of-type{
      color:red;
   }
}




.input-container{
   box-shadow: 0 0 3px 3px var(--box-shadow-color);
   padding:1em;
   padding-left:2em;
   border-radius: 6px;
   @include flexObj($justify:flex-start,$gap:20px);
   color:var(--input-color);
   background:var(--elements-color);

   .search-icon{
      font-size:1.2rem;
   }

   input{
      font-size: clamp(0.906rem, 0.13vw + 0.879rem, 1rem);
      color:var(--input-color);
      font-weight:$font-weight_Bold;
      &::placeholder{
         font-family: inherit;
      }
   }

   @include MediaQueryLS{
      width:30em;
   }

   @include MediaQueryMD2{
      width:27em;
   }
}


@keyframes fadeIn{
   from{opacity:0;}
   to{opacity: 1;}
}