@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    transition: background .2s ease;
}

.custom-shadow{
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

.grid-flex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    column-gap: 2rem;
}
