@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
.LIGHT_MODE {
  --elements-color: hsl(0, 0%, 100%);
  --bg-color:hsl(0, 0%, 96%);
  --text-color: hsl(200, 15%, 8%);
  --input-color: hsl(0, 0%, 52%);
  --box-shadow-color: hsla(0, 11%, 86%, 0.36);
}

.DARK_MODE {
  --elements-color: hsl(209, 23%, 22%);
  --bg-color: hsl(207, 26%, 17%);
  --input-color: hsl(0, 64%, 98%);
  --text-color: hsl(0, 0%, 100%);
  --box-shadow-color: hsla(205, 12%, 20%, 0.164);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background: var(--bg-color);
  height: 100%;
}

img {
  max-width: 100%;
  object-fit: cover;
}

button,
input,
select {
  font-family: inherit;
  background: none;
  border: none;
  cursor: pointer;
}
button:hover, button:focus,
input:hover,
input:focus,
select:hover,
select:focus {
  outline: none;
  border: none;
}

li,
a {
  text-decoration: none;
  list-style-type: none;
}

main {
  max-width: 90%;
  margin: auto;
}
@media (min-width: 50rem) {
  main {
    max-width: 94%;
  }
}

header {
  background-color: var(--elements-color);
  box-shadow: 0 0 3px 3px var(--box-shadow-color);
}
header .header-inner {
  padding-block: 0.9em;
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
@media (min-width: 50rem) {
  header .header-inner {
    max-width: 94%;
  }
}

h1 {
  color: var(--text-color);
  font-size: clamp(1.125rem, 0.435vw + 1.035rem, 1.438rem);
}

.theme-switcher-container button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--text-color);
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
.theme-switcher-container button:hover {
  opacity: 0.7;
}
.theme-switcher-container svg {
  font-size: 1rem;
}
.theme-switcher-container svg path {
  color: inherit;
}

.search-area {
  margin-block: 1.4em;
}
@media (min-width: 70rem) {
  .search-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
}
.search-area label,
.search-area .AT-only {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
}
.search-area-dropdown {
  box-shadow: 0 0 3px 3px var(--box-shadow-color);
  margin-top: 2.5em;
  max-width: 60%;
  background-color: var(--elements-color);
  border-radius: 6px;
  padding: 0.9em 1em;
  position: relative !important;
}
@media (min-width: 70rem) {
  .search-area-dropdown {
    max-width: unset;
    width: 14em;
    margin-top: 0;
  }
}
@media (min-width: 50rem) {
  .search-area-dropdown {
    max-width: 20%;
  }
}
.search-area-dropdown span,
.search-area-dropdown button {
  display: block;
  color: var(--text-color);
  font-size: 0.9rem;
}
.search-area-dropdown span {
  cursor: pointer;
  text-transform: capitalize;
}
.search-area .arrow-icon {
  position: absolute;
  right: 1em;
  top: -50%;
  bottom: -50%;
  margin: auto;
  color: var(--text-color);
}
.search-area .rotate {
  transform: rotate(180deg);
  transition: 0.3s linear;
}

.dropdown {
  background-color: var(--elements-color);
  bottom: -13em;
  border-radius: 6px;
  left: -50%;
  right: -50%;
  margin: auto;
  position: absolute;
  width: 100%;
  padding: 0.5em 1em;
  opacity: 0;
  animation: fadeIn;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
  box-shadow: 0 0 3px 3px var(--box-shadow-color);
}
.dropdown button {
  margin-block: 0.5em;
  text-transform: lowercase capitalize;
}
.dropdown button:hover {
  opacity: 0.8;
}
.dropdown button:last-of-type {
  color: red;
}

.input-container {
  box-shadow: 0 0 3px 3px var(--box-shadow-color);
  padding: 1em;
  padding-left: 2em;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  color: var(--input-color);
  background: var(--elements-color);
}
.input-container .search-icon {
  font-size: 1.2rem;
}
.input-container input {
  font-size: clamp(0.906rem, 0.13vw + 0.879rem, 1rem);
  color: var(--input-color);
  font-weight: 600;
}
.input-container input::placeholder {
  font-family: inherit;
}
@media (min-width: 70rem) {
  .input-container {
    width: 30em;
  }
}
@media (min-width: 50rem) {
  .input-container {
    width: 27em;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.countries-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 3em;
}
@media (min-width: 40rem) {
  .countries-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    justify-items: center;
  }
}
@media (min-width: 50rem) {
  .countries-section {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 70rem) {
  .countries-section {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.country-item {
  background-color: var(--elements-color);
  color: var(--text-color);
  border-radius: 6px;
  margin-bottom: 2em;
  box-shadow: 0 0 3px 3px var(--box-shadow-color);
  height: 23em;
  width: 17em;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.country-item:hover {
  scale: 1.03;
}
.country-item img {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  height: 11em;
  width: 100%;
}
.country-item .details-container {
  padding: 1.8em 1em;
}
.country-item .details-container h2 {
  font-size: 1.2rem;
  margin-block: 0 0.8em;
}
.country-item .details-container p {
  margin-block: 0.3em;
  font-weight: 600;
}
.country-item .details-container p span {
  font-weight: 300;
  margin-left: 0.3em;
}

.country-details-overview {
  max-width: 90%;
  margin-inline: auto;
  color: var(--text-color);
  min-height: 100vh;
}
@media (min-width: 50rem) {
  .country-details-overview {
    max-width: 94%;
  }
}
.country-details-overview .go-back {
  color: var(--text-color);
  padding: 0.4em 1.8em;
  padding-right: 0.2em;
  border-radius: 3px;
  background-color: var(--elements-color);
  margin-block: 1.5em;
  display: block;
  box-shadow: 0 0 3px 3px var(--box-shadow-color);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 8em;
  text-align: center;
}
.country-details-overview .go-back > svg {
  position: absolute;
  top: -50%;
  bottom: -50%;
  margin: auto;
  left: 2em;
}
.country-details-overview .overview {
  margin-block: 3em;
}
@media (min-width: 40rem) {
  .country-details-overview .overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
@media (min-width: 70rem) {
  .country-details-overview .overview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
  }
}
.country-details-overview .overview img {
  position: relative;
  width: 100%;
  height: 16.5em;
}
@media (min-width: 40rem) {
  .country-details-overview .overview img {
    width: 30em;
    flex-basis: 100%;
  }
}
@media (min-width: 70rem) {
  .country-details-overview .overview img {
    height: 20em;
    flex-basis: 30%;
  }
}
.country-details-overview .overview .flex-row {
  position: relative;
}
.country-details-overview .overview .flex-row > div {
  margin-block: 1em 2em;
}
@media (min-width: 40rem) {
  .country-details-overview .overview .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .country-details-overview .overview .flex-row > * {
    margin-inline: 1em;
  }
}
@media (min-width: 70rem) {
  .country-details-overview .overview .flex-row {
    width: 50% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  .country-details-overview .overview .flex-row p {
    margin-block: 0.3em;
  }
}
.country-details-overview .overview p {
  font-weight: 600;
}
.country-details-overview .overview p span {
  font-weight: 300;
  margin-left: 0.3em;
}
.country-details-overview .overview h2 {
  font-size: 1.7rem;
  text-transform: capitalize;
}

@media (min-width: 70rem) {
  .border-countries {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
    position: relative;
    top: -1em;
  }
}
.border-countries h3 {
  font-size: 1rem;
  margin-block: 0.3em;
  font-weight: 600;
}
.border-countries div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
@media (min-width: 40rem) {
  .border-countries div {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 70rem) {
  .border-countries div {
    grid-template-columns: repeat(3, 1fr);
  }
}
.border-countries div a {
  padding: 0.4em 1.2em;
  border-radius: 3px;
  background-color: var(--elements-color);
  box-shadow: 0 0 3px 3px var(--box-shadow-color);
  color: inherit;
  transition: 0.3s ease-in-out;
  text-align: center;
  font-size: 0.9rem;
}
.border-countries div a:hover {
  opacity: 0.8;
}

/*# sourceMappingURL=styles.css.map */
